{
  "permissions": {
    "allow": [],
    "deny": []
  },
  "enableAllProjectMcpServers": true,
  "enabledMcpjsonServers": [
    "filesystem",
    "gopls",
    "tailwindcss",
    "templ",
    "mysql",
    "filesystem",
    "memory"
  ]
}
