package components

templ ButtonEnableDisable(textEnabled, textDisabled, hxGet string, isEnabled bool) {
	<button
		class={
			"items-center p-2 rounded font-medium",
			templ.KV("bg-green-100 text-green-800 hover:bg-green-200", isEnabled),
			templ.KV("bg-red-100 text-red-800 hover:bg-red-200", !isEnabled),
		}
		hx-get={ hxGet }
		hx-trigger="click"
		hx-target="this"
		hx-swap="outerHTML"
	>
		if isEnabled {
			{ textEnabled }
		} else {
			{ textDisabled }
		}
	</button>
}
