package components

script handleClickImage() {
	const img = event.currentTarget;
	if (img.src.includes("F")) {
		img.src = img.src.replace("F", "M");
	} else {
		img.src = img.src.replace("M", "F");
	}
}

templ ImgClassToggle(attrs templ.Attributes) {
	<img
		{ attrs... }
		onclick={ handleClickImage() }
		class="img-class h-8 cursor-pointer transition-all hover:scale-110 m-auto"
	/>
}
