package page 

import (
	"github.com/invopop/ctxi18n/i18n"
	"github.com/rousseau-romain/round-timing/model"
	"github.com/rousseau-romain/round-timing/shared/components"
)

templ ForbidenPage(errorMessage string, navItems []components.NavItem, languages []model.Language, pageSlug string, user model.User) {
	@components.Layout(i18n.T(ctx, "page.403.title"), components.PopinMessages{}, user, navItems, languages, pageSlug) {
		@components.ErrorPageContent("403", errorMessage, "page.403.p")
	}
}
