package page

import (
	"github.com/invopop/ctxi18n/i18n"
	"github.com/rousseau-romain/round-timing/model/user"
	"github.com/rousseau-romain/round-timing/model/system"
	"github.com/rousseau-romain/round-timing/views/components/layout"
	"github.com/rousseau-romain/round-timing/views/components/ui"
)

templ NotFoundPage(errorMessage string, navItems []layout.NavItem, languages []system.Language, pageSlug string, user user.User) {
	@layout.Layout(i18n.T(ctx, "page.404.title"), layout.PopinMessages{}, user, navItems, languages, pageSlug) {
		@ui.ErrorPageContent("404", errorMessage, "page.404.p")
	}
}
